.button-container {
	text-align: center;
	margin-top: -20px;
	margin-bottom: 20px;
}

.glass {
	padding: 8px 15px;
	margin: 5px;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #4875B4;
	background-image: linear-gradient(blue, #4875B4);
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px rgba(0,0,0,0.8);
}

.glass:hover {
	background-image: linear-gradient(darkblue, #4875B4);
}

.glass:active {
	background-image: linear-gradient(darkblue, #4875B4);
	box-shadow:  0 4px rgba(0,0,0,0.8);
	transform: translateY(4px);
}